[2014-02-11 16:39] ShaunaGordon opened #5 "submitVerify is stopping Firefox from continuing the form submit"
When I have submitVerify on a form with separate address fields, LiveAddress runs the validation and completes the address (if possible), but then stops the form from continuing its submission, even on valid addresses. This only happens in Firefox. The form resumes normal behavior when submitVerify is set to false.

Debug mode shows "AddressWasValid," "AddressAccepted" and "Completed" event messag

[2014-07-06 16:06] BrightLedSigns opened #9 "this.showInvalid creates duplicate delegations"
What I observed was on line #1592 of the current source, within the function defined for this.showInvalid:

[code]

There's no "undelegate" preceding this, so..every time the end user chooses to select their original input, a new delegation is created, which exists alongside the one that's already there. No problem the first time they select their original input, but if they do it again, the deleg

[2014-08-13 23:50] liliakai opened #11 "support for proxying autocomplete-api"
Currently you can configure the plugin with a requestUrl param if you want to proxy requests to the api.smarystreets.com/street-address endpoint, but there is no such override to apply to the autocomplete-api.smartystreets.com/suggest endpoint.

[2014-11-28 15:14] pagenoare opened #12 "Weird thing about events"
So, I've a pretty basic class initialization code:

[code]

And I'm trying to add custom handler on `AddressAccepted` event.

So, I've done this:
[code]

I've opened a debug console on my chromium, started typing in #address1 field, choosen my address and nothing happened. As far as I know, after selecing correct address from autocomplete dropdown, my script should be stopped because of debugger t

[2015-01-09 16:33] chico-borja opened #14 "Suggestion for documentation improvement regarding activate()"
I think adding a sentence to your documentation for activate() to indicate that a deactivated address must have it's fields re-mapped before it can be used again would be helpful.  This only became clear to me after using debug mode and seeing the following message:

Done cleaning up; ready for new mapping.

Thanks!

[2015-02-04 21:24] jhabdas opened #15 "Please register a Bower component"
Thanks for open-sourcing this. People using it with Bower are currently required to do the following in their `bower.json` file to use this library:

`"jquery-liveaddress": "git@github.com:smartystreets/jquery.liveaddress.git#~2.4.11"`

It'd be nice if we could instead do:

`"jquery-liveaddress": "~2.4.11"`

http://bower.io/docs/creating-packages/

[2015-02-04 23:25] mdwhatcott commented on #15
Forgive my being a total newbie to bower, but what's the advantage of the shorter, second line (other than being, well, shorter)?

[2015-02-05 02:35] jhabdas commented on #15
It'll help ensure engineers use SemVer when including your lib as opposed
to omitting the version number and getting master. Additionally it'll make
your lib look more legit as well as gain you more community  exposure. It's
worth it.

On Wednesday, February 4, 2015, Michael Whatcott <notifications@github.com>
wrote:

[2015-02-05 04:19] mdwhatcott commented on #15
Ok, thanks for the encouragement.

[2015-02-12 10:34] blackbeersenator opened #16 "Modal window scrolling without smarty-ui div"
I have a modal window which contains some text fields that work with smartystreets liveaddress plugin. The modal window goes outside the visible screen and is scrollable relative to main window which remains fixed in the background.
Because smarty-ui tag is added to 'body' and not to modal window it remains in a fixed position when I scroll the modal. Is there any solution to overcome this kind of

[2015-02-12 14:57] mdwhatcott commented on #16
I'm not sure if there's a clean workaround--you might have to fork the plugin code and make the edits that will allow it to be compatible with your design.

[2015-02-12 16:07] mdwhatcott commented on #16
You might also go over the css documentation--something might strike you as a possible solution:

https://smartystreets.com/docs/plugin/css

[2015-03-06 17:53] RoLYroLLs opened #17 "Prevent Form Submission On Selecting "certify the address is correct""
We have a form which asks the user for various pieces of information. The address is located on the top section. As I was testing this plugin to see what happens when someone enters an address that has no suggestions and chooses to "certify the address is correct" (I'll call it "certify")I noticed the form gets's submitted.

When someone clicks certify, the following events are triggered, as shown

[2015-03-17 15:37] codymorgan opened #19 "Lookup doesn't pull zipcode like your the examples page does"
I couldn't find any documentation to address my question, but here is the rub:

the examples shown at https://smartystreets.com/docs/plugin/examples behave differently in regards to zipcodes than when i implement the same javascript on my site.

although the debug shows the zipcode field mapped appropriately, it doesn't get populated as things do in your examples

here's my code
http://jsfiddle.ne

[2015-03-17 16:29] mdwhatcott commented on #19
@codymorgan - You'll need to add a State text field to your form. That will allow the response to be verified from an autocomplete selection.

[2015-03-17 16:36] codymorgan commented on #19
awesome thanks!

[2015-03-17 16:36] #19 closed

[2015-04-06 14:52] npiasecki opened #20 "selectedOptions isn't universally supported"
When the state field is a dropdown menu, then then check on line 1859 fails in Internet Explorer 11 as `selectedOptions` doesn't exist there:

    stateText = fields.state.dom.selectedOptions[0].text;

In my case I just flipped it to a jQuery call to abstract away the differences:

    stateText = $(fields.state.dom).val();

... I know the documentation recommends using a text field, but hope this

[2015-04-08 14:55] camigreenall commented on #20
I just updated this to still use the text and be compatible with IE 11.
[code]
changed to
[code]

It is necessary to use the text from the state dropdown because the text is guaranteed (more often than the value) to match up to a state abbreviation or full name. Values can be set to whatever and will only sometimes be set as state abbreviation or full name.

Thanks for catching this bug!

[2015-04-08 14:57] #20 closed

[2015-04-23 16:49] yagyesh11235 opened #21 "Issue in case of non verified address"
Steps to reproduce:
when the user select one of the address from suggestion that is not verified,
in console we get following error
![image](https://cloud.githubusercontent.com/assets/3796564/7302356/7352eb5e-ea06-11e4-9e86-b7fad3ed66a3.png)

[code]
here ``` resp.``` is undefined in case of invalid address

[2015-04-23 17:22] yagyesh11235 commented on #21
it was custom implementation that triggered this , an unvalid issue, plugin work fine without error

[2015-04-23 17:22] #21 closed

[2015-04-29 04:43] yagyesh11235 opened #22 "Zip auto fill doesnot work second time"
Steps to reproduce :
1) Load ```/jquery.liveaddress/index.html``` page
2) Use the first form try typing ```1633 broadway new york```
![image](https://cloud.githubusercontent.com/assets/3796564/7384825/f2357388-ee57-11e4-8494-d7afad38b202.png)
 the zipcode field is now auto populated with  zipcode
![image](https://cloud.githubusercontent.com/assets/3796564/7384834/06c8d740-ee58-11e4-9111-64f79c51db

[2015-04-29 07:08] yagyesh11235 opened #23 "Bind to Hidden elements"
I've noticed the plugin doesn't bind itself to hidden form fields, even if it's explicitly mentioned when initializing.

[code]
add this block to index.html.

Now open the index.html using firebug now remove display none so our hidden form is displayed now
![image](https://cloud.githubusercontent.com/assets/3796564/7386021/957b4748-ee6c-11e4-84da-3f095466e21c.png)

Here we can see now there is no

[2015-05-05 19:25] #22 closed

[2015-05-05 19:34] yagyesh11235 opened #24 "Binding Multiple Forms"
Can we bind different form individually.

[code]
In above case binding only happens for ``` happypath``` form not for  ```street2```

Any thoughts??

[2015-05-05 21:11] yagyesh11235 commented on #24
According to documentation

"The SmartyStreets website plugin is configured when it is initialized. Initialization occurs when jQuery.LiveAddress() is called. The plugin must be initialized before it can be used, and it should only be initialized once."

so closing this issue

[2015-05-05 22:06] yagyesh11235 commented on #24
1) http://jsfiddle.net/uhhsefz2/
2) http://jsfiddle.net/hz8tLLk4/

[2015-05-13 21:41] yagyesh11235 commented on #23
closing this as they may be related to https://github.com/smartystreets/jquery.liveaddress/issues/24

[2015-05-13 21:41] #23 closed

[2015-06-03 16:44] camigreenall commented on #23
After you remove the styling you have to call liveaddress.mapFields() to initialize remapping. We don't support mapping/validation on hidden forms and there is nothing listening to see if the form is no longer hidden.

[2015-06-05 22:21] camigreenall commented on #12
I know this may seem silly, but just to check are you entering an actual key in? Or do you keep `MY_KEY` there where you have your code. This would cause verification to fail and in turn cause `AddressAccepted`, `Completed`, and `AddressWasValid` to fail

[2015-07-06 15:56] camiblanch commented on #24
We don't plan on adding support for binding to hidden forms, but we do plan on adding support to bind to multiple forms as seen in your original request. This won't be available for a while as it is going to be added in with our rewrite of the plugin in a major version

[2015-08-10 16:34] camiblanch commented on #5
@ShaunaGordon I found that changing the event listener to
    `$('[type="submit"]').click(function (event) {
        alert('Submitted!');
        event.preventDefault();
    });`
works in both Firefox and Chrome.

[2015-08-10 16:55] camiblanch commented on #12
@pagenoare I think I found the real solution. In your mapping you do not provide mapping to a `state` field.  The plugin cannot invoke verification because there is not enough data being provided.

With your current setup you can invoke verification if you enter a zip code. Verification requires a `street` field and either a `city` + `state` combo or a `zipcode`

Let me know if that fixes your iss

[2015-08-11 22:05] camiblanch commented on #14
We are adding this in to the `deactivate` documentation on our website now. I will close this issue once it is live on the SmartyStreets website.

[2015-08-12 19:56] #11 closed

[2015-08-12 20:04] camiblanch commented on #17
@RoLYroLLs The plugin only submits the form when you click "certify the address is correct" if verification was invoked from clicking the submit button in the first place. If you invoke verification by clicking on the checkmark, or it is done automatically, then clicking "certify the address is correct" will not submit the form.

[2015-08-13 17:47] camiblanch commented on #14
Added https://smartystreets.com/docs/plugin/functions#deactivate

[2015-08-13 17:47] #14 closed

[2015-08-13 23:39] chico-borja commented on #14
Perfect, thanks!

On Thu, Aug 13, 2015 at 12:47 PM, Cami <notifications@github.com> wrote:

[2015-08-19 21:47] metaskills commented on #5
I am now seeing this issue too. We recently updated our site to mobile/responsive and this just turned up out of nowhere. We were at v2.4.11and I just tried with 2.8.5 too, no avail.

[2015-08-19 21:54] camiblanch commented on #5
@metaskills Could you send me the link to the site that you are seeing this behavior? I'm having trouble replicating this bug myself.

[2015-08-19 21:55] metaskills commented on #5
You will need to go in the lab and make a quick shirt.

http://www.customink.com/checkout/shipping

I will likely be doing a hot deploy here in a few minutes and disable LA for firefox.

[2015-08-19 22:39] camiblanch commented on #5
@metaskills Ok I was able to replicate the issue in a jsFiddle. I will be looking into this issue this week

[2015-08-24 14:05] metaskills commented on #5
@camiblanch Thanks so much! It would be great if we could turn on FireFox again.

[2015-08-25 13:40] metaskills opened #28 "Too Aggressive Loaded Strategy?"
Today I noticed that an image was not loading in our checkout cart and that caused the SmartyStreets jQuery plugin to not work. The issue seems to be that this plugin uses `document.readyState === "complete"` to set `window.loaded = true`. Is this too aggressive? Why not use jQuery ready handler?

The comments in the plugin code state "document be fully loaded in order to attach UI elements" and u

[2015-08-25 14:35] metaskills commented on #28
When using debug mode, I can see this event.

[code]

But it takes a few minutes before the image load fails and hence never makes it to this even and other.

[code]

[2015-08-25 14:37] metaskills commented on #5
Wonder if this is related. Request finished but Firefox says it is still transfering.

![screen shot 2015-08-25 at 10 36 26 am](https://cloud.githubusercontent.com/assets/2381/9469477/3a09f070-4b15-11e5-9df3-d2054aac19ef.png)

[2015-08-25 16:43] camiblanch commented on #5
@metaskills Let me know if you still see the issue in the latest version (2.8.6) of the plugin.

[2015-08-26 17:33] camiblanch commented on #24
Unfortunately, we, SmartyStreets, have decided to scrap this enhancement. We encourage you to fork out your own copy and add in this feature if you would like it.

[2015-08-26 17:33] #24 closed

[2015-08-26 17:36] camiblanch commented on #12
I am going this due to inactivity. Let us know if you find this issue is still occurring.

[2015-08-26 17:36] #12 closed

[2015-08-26 17:37] pagenoare commented on #12
Will do, sorry, I didnt get the chance to test that once again.

Will confirm it as fixed/still occuring when I get the time to take a look at this again.

[2015-08-26 17:39] camiblanch commented on #16
We have an examples that show how to handle modal windows and such here:

[Bad Modal Usage](http://jsfiddle.net/pitcrew/snfa8zn7/) In this example you see how the smarty-ui stays visible even when the form is hidden

[Good Modal Usage](http://jsfiddle.net/pitcrew/v1vzb4eg/) In this example you see how by using the deactivate and activate functions the smarty-ui is hidden and shown according to the

[2015-08-26 17:39] #16 closed

[2015-08-26 17:41] camiblanch commented on #17
I am going this due to inactivity. Let us know if you find this issue is still occurring.

[2015-08-26 17:41] #17 closed

[2015-08-27 16:09] camiblanch commented on #15
We recently published the plugin via npm if you are interested in that https://www.npmjs.com/package/liveaddress

[2015-08-27 16:13] jhabdas commented on #15
Thanks. Bower seems to be on the way out so that works for me!

[2015-08-27 16:13] #15 closed

[2015-09-14 15:46] metaskills commented on #5
Can we re-open this issue? The commit did not resolve FF for me. Same behavior still exists.

[2015-09-14 16:21] camiblanch commented on #5
Issue is back

[2015-09-14 16:47] camiblanch commented on #5
Further investigation shows that the previous fix only works if you step through the code or throw in a breakpoint.

[2015-09-14 17:45] #5 closed

[2015-09-14 17:47] camiblanch commented on #5
Just pushed this out as version 2.8.8

Should work now. I tested without stepping through or using breakpoints and was able to get the form to submit correctly

[2015-09-14 19:32] metaskills opened #29 "Latest v2.8.8 - ERROR: Not an array or string passed in to undelegate all clicks"
When doing things like choosing a candidate, or closing the list. I see this error alert. The object passed looks something like this.

[code]

[2015-09-14 19:34] metaskills commented on #5
Thanks! Think I am getting someplace... but #29 is now blocking me.

[2015-09-14 20:52] metaskills commented on #29
Seems this error started in v2.8.7

![screen shot 2015-09-14 at 4 51 27 pm](https://cloud.githubusercontent.com/assets/2381/9861545/f38062fa-5b00-11e5-978d-00e7b4a775e1.png)

[2015-09-14 20:55] metaskills commented on #29
Commit is 5a5f92a2

[2015-09-16 15:37] camiblanch commented on #29
I understand. This bug comes up when an ambiguous address is selected. Otherwise, it works correclty

[2015-09-16 15:47] metaskills commented on #29
I've made some hacks in my local copy to pass down `abort`, `goodAddr`, etc in the functions that call  `undelegateAllClicks`... but I took guesses. So I look forward to when this is fixed.

[2015-09-16 15:48] #29 closed

[2015-09-16 15:49] camiblanch commented on #29
Should be working smoothly now. 2.8.9 is published and ready to go

[2015-09-16 15:51] metaskills commented on #29
Thanks for the quick turn-a-round. Might I suggest that y'all have some integration tests to catch these too :) Either way, I appreciate the OS and your work on this.

[2015-09-16 19:10] metaskills opened #30 "IE9 $.ajax and using dataType: "jsonp""
I noticed that this commit 9cec9545 removed the JSONP datatype and this made IE9 not work anymore. I added that back in and everything seems to work fine. Any reason that should not be in by default?

[2015-09-21 15:38] camiblanch commented on #30
When I made that commit I remember there being some issues with having the JSONP dataType. Now I can't seem to get that error anymore. Fix will be pushed soon

[2015-09-21 15:43] #30 closed

[2015-09-21 15:52] camiblanch commented on #30
Pushed out as version 2.8.10. Let me know if there are still issues concerning this bug

[2015-10-28 20:59] tamarazuk opened #32 "JavaScript Error: Undefined is not an object"
We're testing an upgrade from version 2.5 to 2.8 and we've been greeted with the following JS error:

[code]

[this line](https://github.com/smartystreets/jquery.liveaddress/blob/master/src/jquery.liveaddress.js#L2208) should probably check if `fields.state.dom[fields.state.dom.selectedIndex]` is defined and an object before trying to access its property

Thanks!

[2015-10-30 16:20] camiblanch commented on #32
@tamarazuk I'm going to push your suggested change, but I think the reason you are getting that error is because the state dropdown is not in standard form. If you are missing states from the dropdown list it will cause the behavior you describe. With the change I am pushing it will stop the error from showing up, but I can't guarantee that you won't have issues with the state dropdown you are tes

[2015-10-30 16:20] #32 closed

[2016-01-15 11:29] mattbegent opened #33 "Alert Error Shown To User With Pressing ESC"
An alert with the error message "ERROR: Not an array, string, or object passed in to undelegate all clicks" is displayed when a user presses ESC when the "Address Not Verified" popup displays. Please can this be fixed.

Steps to reproduce:

1. Visit [https://smartystreets.com/docs/plugin](https://smartystreets.com/docs/plugin) and type in an unverified address e.g. 12333 County Road 3

2. When the

[2016-01-15 17:00] camiblanch commented on #33
Fix is published in version 2.8.27
Thanks for catching this bug.

[2016-01-15 17:00] #33 closed

[2016-01-27 02:38] mryarbles opened #34 "No apparent way to remove event listener"
I'm using liveaddress in a singlepage application so I need to detach all listeners before page transitions.

Documentation says that event system is similar to JQuery's but
when I try to use liveaddress.off() it throws an error.

Anyone know how to remove events from this thing...

[2016-01-27 17:19] camiblanch commented on #34
Currently, there is not a built in way to turn off events. I am working on a solution

[2016-01-28 19:38] camiblanch commented on #34
@mryarbles Are you wanting to be able to remove all events in one go using liveaddress.off() or wearee you just hoping to call liveaddress.off(event) for each event you want unbound?

[2016-02-02 21:34] camiblanch commented on #34
If there is no activity on this in a week, I will be closing this issue

[2016-02-09 03:53] tamarazuk opened #35 "Recent change breaks internationalization"
The change introduced in SHA 4b77699995dcd3e16d7c05c20a701df649af928b breaks the ability to translate option texts to different languages.

The previous behaviour of checking the value selected rather than the text is less susceptible to issues when unexpected texts are displayed. I would suggesting checking against both the text and the value to ensure the library retains compatibility with sites

[2016-02-09 22:20] camiblanch commented on #35
I have talked to our support team regarding this issue and have come to a conclusion. We cannot support country names in languages that are not English. The best way to support country names that are not in English is to (1) wait until our international plugin is finished (no release data yet) or (2) fork the github code and customize it for your use case. We have had issues with looking at the `v

[2016-02-09 22:22] #34 closed

[2016-02-09 22:26] camiblanch commented on #35
Please let me know if you have other US values you would like to add to our recognized list or if you have any other concerns or suggestions for improving the LiveAddress plugin. We appreciate your input.

[2016-02-09 22:26] #35 closed

[2016-05-03 16:19] #9 closed

[2016-05-05 07:17] rauanmaemirov opened #38 "Previous binding not being cleared"
In this line: https://github.com/smartystreets/jquery.liveaddress/blob/master/src/jquery.liveaddress.js#L467

When you reinitialise liveaddress, `$(document).unbind(prop, HandleEvent);` doesn't clear previous event handlers.

This behaviour can be reproduced on Chrome 50.0.2661.94 by initialising and then deactivating plugin several times. Then, while using autosuggest, event handlers will be trig

[2016-05-05 15:45] camiblanch commented on #38
Could you provide me the exact commands you are running to deactivate and then instantiate the plugin? I am having trouble replicating this.

[2016-05-16 17:25] camiblanch commented on #38
@rauanmaemirov If I don't hear back from you within 3 days, I will close this card.

[2016-05-19 15:35] #38 closed

[2016-05-19 15:44] rauanmaemirov commented on #38
Sorry about that. A little busy these days, will get back to that later.

[2016-06-15 13:45] tjohar opened #40 "Getting Uncaught Exception with International address response"
I'm getting below errors from `jquery.liveaddress.js` file with my international address response. [International address response](https://smartystreets.com/docs/international-street-api#http-response-status) does not have `analysis.dpv_footnotes`, hence why I'm getting below error.

<img width="844" alt="screen shot 2016-06-15 at 9 32 20 pm" src="https://cloud.githubusercontent.com/assets/108033

[2016-06-15 15:49] camiblanch commented on #40
Let me know if you're still seeing this bug and I'll open the issue again. Should be fixed now!

[2016-06-15 15:49] #40 closed

[2016-06-16 21:42] yankeyhotel opened #41 "Load NPM package"
What's the best way to load the NPM package into React?

`import LiveAddress from 'liveaddress.min.js';` throws the following error in our Meteor app.

`Error: Can't find npm module 'liveaddress'. Did you forget to call 'Npm.depends' in package.js within the 'modules-runtime' package?`

[2016-06-17 15:45] camiblanch commented on #41
I'm not super familiar with Meteor or React, but I found [this documentation](http://guide.meteor.com/using-npm-packages.html#installing-npm) that you might find helpful.

1. [Make sure you have npm installed](https://docs.npmjs.com/getting-started/installing-node)
2. Install the liveaddress npm package via Meteor and npm
`meteor npm install --save liveaddress`
3. Import the package into your Mete

[2016-06-17 22:43] yankeyhotel commented on #41
If I add a `main` key to `package.json` I can get the module to load. My understanding is it just needs to know which file to load in.

[code]

But now I am getting an error about jQuery not being defined.
`ReferenceError: jQuery is not defined`

Any ideas? Thanks.

[2016-06-20 15:39] camiblanch commented on #41
I will add the "main": "src/jquery.liveaddress.js" to the package.json file

[2016-06-20 15:49] #41 closed

[2016-08-01 17:30] brainded opened #42 "Unsanitized input in Regex causes js errors"
If you use a "(" or ")" in the address field it causes JS errors because there is a regex being used to find and replace that is using unsanitized or unconverted input. The line the issue exists in is here:
https://github.com/smartystreets/jquery.liveaddress/blob/master/src/jquery.liveaddress.js#L937

The error in the console is as follows:
Uncaught SyntaxError: Invalid regular expression: /(12348

[2016-08-01 17:35] camiblanch commented on #42
Could you give me an exact example of the input you are using to get this error?

[2016-08-01 17:36] brainded commented on #42
Sure! In Address 1 I typed "1234 Nowhere (Apt 2)". As soon as I hit the "(" key it causes the JS exceptions.

[2016-08-01 17:37] camiblanch commented on #42
Awesome thanks! I'll get working on a fix

[2016-08-01 20:06] #42 closed

[2016-08-01 20:26] camiblanch commented on #42
You should see the fix in version 3.1.10 of the plugin. Just pushed to publishing to our cloud server.

[2016-08-01 20:26] brainded commented on #42
Awesome! Thanks for the quick turnaround!

[2016-10-11 21:24] tamarazuk opened #45 "Uncaught TypeError in latest versions"
After refreshing my browser cache (thus updating to the latest version supplied by your CDN), I am getting a `Uncaught TypeError: Cannot read property 'text' of undefined` in `jquery.liveaddress.js?ver=3.2:2485` when I switch countries on the Checkout page where we have SmartyStreets integrated.

I believe this is because the State field is empty when switching from another country to US. The jQue

[2016-10-11 21:28] camiblanch commented on #45
Sorry you're having issues with the LiveAddress jQuery Plugin. In the newer
versions of the plugin we have updated the way it handles state dropdown
fields which is probably why you are seeing this change. Could you create a
jsFiddle or CodePen of some kind that demonstrates this situation? It will
make it easier for me to make sure I fix it correctly. Thanks!

On Tue, Oct 11, 2016 at 3:24 PM, Tam

[2016-10-11 21:47] tamarazuk commented on #45
@camiblanch this is with the [WooCommerce](https://woocommerce.com/) WordPress plugin and our [Address Validation](https://woocommerce.com/products/postcodeaddress-validation/) extension so it's not easy to provide you with a fiddle or pen since there are so many moving parts involved in both plugins.

The issue occurs even if all our integration has is `var liveAddress = $.LiveAddress( { ... fiel

[2016-10-11 21:55] #45 closed

[2016-10-12 01:23] tamarazuk commented on #45
thanks for the fix @camiblanch

[2016-10-13 03:23] tamarazuk opened #46 "Another Uncaught TypeError"
Hey again, I'm running into a similar TypeError as #45, this time on [this line](https://github.com/smartystreets/jquery.liveaddress/blob/3d8897c1a9107b5c0ff25112495b78c6d05300b4/src/jquery.liveaddress.js#L2403). Changing the line above to something like the following fixes it for me:

[code]

I would love it if the whole library could be inspected for instances such as these when you guys have a

[2016-10-13 15:41] camiblanch commented on #46
I think I was able to isolate the problem. This bug happens when the plugin detects a state dropdown, but the `selectedIndex` is set to an item that doesn't exist in the dropdown. This causes `selectedIndex` to be equal to `-1`. The workaround is to default to an empty string value in this case.

The fix would also apply to the country field if it is a dropdown and `selectedIndex` is set to `-1`.

[2016-10-13 17:32] camiblanch commented on #46
If that sounds like it will still work out for you, I will go ahead and publish the change. Please let me know what your thoughts are @tamarazuk

[2016-10-13 17:55] tamarazuk commented on #46
@camiblanch I can give the fix a try locally once you push it. Thanks for looking into it :)

[2016-10-13 18:03] camiblanch commented on #46
Here is a branch that has the fixes I described. https://github.com/smartystreets/jquery.liveaddress/tree/dropdown-out-of-index-bandaid

Download it and let me know how it works

[2016-10-13 19:27] tamarazuk commented on #46
thanks @camiblanch, so far it looks like this fix is working well for me, but I will open up a new issue if I run into errors again. Thanks!

[2016-10-13 19:31] camiblanch commented on #46
Okay sounds great! I will merge that branch into the master branch since it provides improvement to the plugin.

[2016-10-13 19:31] camiblanch commented on #46
Merged

[2016-10-13 19:31] #46 closed

[2016-11-23 19:50] ragulka opened #48 "FieldsMapped & MapInitialized race condition?"
Given the following code:
[code]
The messages are never logged to the console. When switching debug mode on, I can see that the MapInitalized event is internally called before the liveaddress instance is returned.

[2016-11-28 17:04] camiblanch commented on #48
Yes that is true. The liveaddress instance is not returned before you setup those event handlers. You would either have to use jQuery's built in event handler like so
[code]

or setup some kind of delay before calling `liveaddress.on(...)`

It may seem weird that these events are available, but are hard to reach. A more common usage is to watch on those specific events to know when a remapping occ

[2016-11-29 12:53] wdews commented on #34
@camiblanch Any update on this? Without this, there's no way to prevent stacking of bound events of the same type.

[2016-11-29 12:57] wdews commented on #34
Just discovered that, by neglecting to run `previousHandler()`, events do not get stacked (or at least it appears that way). Is this the way you'd recommend getting around this problem in the short term?

[2016-11-29 17:08] camiblanch commented on #34
@wdews using previousHandler() is necessary if you want the built in functionality of the plugin to run for that event. Is that what you are hoping to achieve?

[2016-11-29 17:48] wdews commented on #34
@camiblanch Yes, definitely wanting to retain default behavior. I noticed that dropped off after I stopped invoking `previousHandler`.

Are there any plans to enact any sort of events management system into LiveAddress? Namely, something that might allow people to namespace events bound to the LiveAddress instance, or to bind events exclusively to specific mapped addresses?

[2016-11-29 17:52] camiblanch commented on #34
There are currently no plans to allow namespaced events or to bind events to specific mapped addresses. You are always welcome to fork this repository and add it yourself though. If in the future we see enough demand for the features mentioned, we could consider adding them.

[2016-11-29 17:56] wdews commented on #34
Good to know. Thanks.

[2016-12-08 21:07] camiblanch commented on #48
@ragulka Closing this issue if I don't hear back from you by Monday

[2016-12-11 19:57] perplexes opened #49 "verifySecondary example and code broken"
I can't get verifySecondary to work correctly.

In the example: https://jsfiddle.net/smartystreets/untutr1p/

Try entering a suite number when the dialog pops up, after entering the example address: 3214 N University Ave Provo UT

Any input makes the modal dialog pop back up, even a valid suite number.

Here's my example from a real address:
15251 SIESTA KEY WAY
ROCKVILLE, MD

Valid apt# is 496.

[2016-12-12 16:17] camiblanch commented on #49
@perplexes Which browser are you using? I tested this in Chrome, Firefox, and Safari and it seems to be working fine

[2016-12-12 16:29] camiblanch commented on #49
Another question: What exactly are you entering in to the pop up dialog? Just "409" or "suite 409"?

[2016-12-12 19:54] perplexes commented on #49
I was entering APT 496 or STE 409, looks like you have to enter the number only? I feel like that's not in the documentation or expected behavior. Thoughts?

[2016-12-12 21:25] camiblanch commented on #49
Good point. We'll start working on a better way to display to the user that the secondary number was submitted to the api, but was invalid still.

[2016-12-12 22:03] perplexes commented on #49
Thank you! I think even just giving an example/placeholder in the box would help a bunch.

[2016-12-13 17:59] mdarabi opened #50 "(suggestion) adding beforeSend to Ajaxes requests"
This is a just a suggestion to overwrite any existing headers for $.ajax. By adding `beforeSend(xhr) {}` to Ajaxes requests, you can make sure nothing unnecessary (that might cause CORS issue) will be sent to the server.

[2016-12-13 19:35] camiblanch commented on #48
Closing due to no response.

[2016-12-13 19:35] #48 closed

[2016-12-15 21:00] camiblanch commented on #49
After thinking about it, how would it be if the placeholder text was changed to "Enter number here" and the message text above it was changed to "You forgot your apt/suite number or entered an invalid suite number"?

[2016-12-15 22:29] camiblanch commented on #50
I'm not sure exactly how this would be implemented. Could you help me understand with some specifics? Are you suggesting that possibly on line 970 and line 2370 we add something like `beforeSend(xhr){}`?

[2016-12-15 22:43] mdarabi commented on #50
As you mentioned, if you just add beforeSend(xhr){} to $.ajax in lines 970 and 2370, it would overwrite any predefined beforeSend functions (for example, those from ajaxSetup) and will remove any additional headers.
In my case, because we have one global ajaxSetup (we know, this is not a good practice but we had to do it), live-address plugin could not send requests and so it did not work. We had

[2017-01-06 22:06] ryanjerskine opened #51 "Autocomplete Problematic Address"
I'm using your autocomplete API and I noticed that the following
3896 Highwa
populated with the correct suggestions. However as soon as I added the 'y':
3896 Highway
The suggestions don't really make sense:
3896 HC 1, Agat GU
3896 HC 0, Chelan WA
etc..

[2017-01-06 22:27] camiblanch commented on #51
That is some strange behavior... We will look into this and get back to you.

[2017-01-09 18:46] camiblanch commented on #49
@perplexes Still waiting on an answer to my previous question

[2017-01-19 18:53] #49 closed

[2017-01-31 21:38] camiblanch commented on #28
@metaskills Are you stilling having issues with this being too aggressive?

[2017-01-31 23:11] metaskills commented on #28
I honestly do not know since I have not been actively developing the part of our site that uses this plugin. I would suspect that unless something has changed about the implementation since this issue was created, it would still be true.

cc @h-m-m

[2017-02-01 17:15] camiblanch commented on #28
Would a good solution be to update that line (now line 149) to
`window.loaded ? ui.postMappingOperations() : $(window).on("ready", ui.postMappingOperations);`

[2017-02-01 17:47] metaskills commented on #28
Yes, I believe that is the exact same as this?

[code]

[2017-02-01 17:54] camiblanch commented on #28
Yes that's correct. That would probably be better since it's more concise. I'll go ahead and make that update

[2017-02-01 18:08] #28 closed

[2017-02-17 21:37] rafegoldberg opened #52 "turning off the UI breaks validation/events"
I'm interested in implementing a custom UI over the plugin's core functionality. Unfortunately, per the title of this issue, I've been having trouble getting LiveAddress to function as-expected when the UI is disabled. My configuration (below) works just fine otherwise. But as soon as I add the `{ ui:false }` entry to the config object validation and events seem to stop firing incorrectly.

Am I m

[2017-02-21 19:56] rafegoldberg opened #53 "Improve UI markup + CSS conventions"
You guys got address validation down– the `$.LiveAddress` function makes it really simple to set up and use. On the other hand, styling the plugin is a mess, forcing devs to write hacky selectors and use `!important` overrides. I'd urge you reconsider this approach and _radically_ simplify your default CSS and markup for the `.smarty-ui` components. At the moment, styling the UI layer requires dev

[2017-02-21 20:00] rafegoldberg commented on #52
I don't think I hit on the actual issue so going to close out this bug. Still, haven't managed to find a fix as documentation around events and the UI layer is lacking.

[2017-02-21 20:00] rafegoldberg commented on #52
I don't think I hit on the actual issue so going to close out this bug. Still, haven't managed to find a fix as documentation around events and the UI layer is lacking.

[2017-02-21 20:00] #52 closed

[2017-02-21 20:07] rafegoldberg commented on #53
From the docs:

May the lord have mercy on us all!

[2017-03-22 17:07] camiblanch commented on #53
We will look into improving this. I like the idea of simplifying the CSS. The first step will probably be to extract the CSS into it's own file so it can be managed more efficiently

[2017-04-10 15:48] neoshruthi opened #55 "jQuery.LiveAddress is not a function"
We tried to add smartystreets in my code.i have injected the 'jquery.liveaddress.min.js' in index.html.
Library is loaded in network console,but still i have an error 'jQuery.LiveAddress is not a function'.

[2017-04-10 16:15] camiblanch commented on #55
Did you load jQuery into your page? You can use the Google CDN to insert into your page like this `<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>`. You will want to inject this in index.html before you inject `jquery.liveaddress.min.js`

[2017-04-11 03:17] vasanthns commented on #55
Hi,

We have followed the exact steps mentioned in the Website plugin install instructions here. FYI, it is an Angular app but we already have jQuery included. We will also try on a separate vanilla webapp and confirm.

https://smartystreets.com/docs/plugins/website/install

thanks,
Vasanth

[2017-04-21 04:14] lishs opened #56 "Unexpected or empty field value properties when fields controlled by Angular"
I'm currently Integrating liveaddress with an ecommerce platform allowing checkout plugins, one of which uses angular.  This confuses liveaddress's field values.

I've created a fix here: https://github.com/lishs/jquery.liveaddress

Great plugin!

[2017-04-22 01:45] lishs commented on #56
Also, not to nitpick semantics, but jquery and this liveaddress plugin are libraries, not frameworks.

[2017-04-24 20:21] camiblanch commented on #56
Sounds great! Glad you were able to find a fix!

[2017-04-24 20:21] #56 closed

[2017-04-24 20:26] camiblanch commented on #55
@vasanthns What did you find out?

[2017-04-24 20:28] camiblanch commented on #50
Since you're not using best practices for ajaxSetup, it is advised that you fork our repository and make it work for your case. I won't be able to have this be part of the main repository. Thanks for your input on this project!

[2017-04-24 20:28] #50 closed

[2017-04-28 20:36] mdwhatcott commented on #56
@lishs 2c969282d6dfb799526da78edab7fb2cd4863eed

[2017-06-23 18:52] BobStein opened #57 "Autocomplete persistence bug"
The Autocomplete window will sometimes refuse to disappear. Took me a while to figure out when this happens.  Steps to reproduce:

1. Go to https://smartystreets.com/docs/plugins/website
2. Enter something on the address line, such as "123 foo". Autocomplete options appear.
3. Click outside the address line. Autocomplete options go away.
4. Go back to the address line and type THE SAME THING "123

[2017-08-08 20:45] camiblanch commented on #57
Thanks for bringing this to our attention. I was able to replicate the bug with the information you provided. I like your suggestion but something is nudging me to double check that it doesn't interfere with other interactions. I'll take a look at this

[2017-09-20 22:36] camiblanch commented on #55
@vasanthns If I don't hear anything back from you in a week, I will be closing this pull request.

[2017-09-20 22:39] camiblanch commented on #53
This commit https://github.com/smartystreets/jquery.liveaddress/commit/a4ea3c7d8c13ea7043b1cc956100af77a0a1b3b1 eliminated `!important` in the css. Still working on getting the css moved out into it's own file.

[2017-09-27 15:20] camiblanch commented on #55
Closing due to inactivity

[2017-09-27 15:20] #55 closed

[2017-10-24 16:51] cbuchert commented on #53
@rafegoldberg I'm working on a branch to refactor the styling in the plugin. You can find the branch [here](https://github.com/smartystreets/jquery.liveaddress/tree/chris/simplify-styling). Currently, I've extracted all styling into an external style sheet and updated all selectors to be `class` only (no more `id`s! Yay!) Things I'm still interested in doing in this branch are further simplifying

[2017-10-25 19:26] AdJesumPerMariam opened #61 "autoVerify triggers in selection fields on keypress"
When inputting an address with autoVerify on it triggers the verification on keypress in selection type fields. This is bad for UX because a customer could mean to enter "Kentucky" but when they hit K then "Kanas" will be selected and auto-verify will be triggered on that. A workaround is to disable the autoVerify setting.

Demo: https://imgur.com/a/iAEoO

[2017-11-02 13:48] rafegoldberg commented on #53
Hey @cbuchert; sounds great. I’ll take a look when I have a moment.

[2017-11-10 21:16] camiblanch commented on #61
The type of dropdown that you are using is not support by our jQuery plugin. You should use a regular input field or a dropdown instead of a hybrid combo. You can read more about what type of dropdown selectors are compatible  to use with the plugin [here](https://smartystreets.com/docs/plugins/website/troubleshooting#select).

[2017-11-10 21:32] sreed-dci commented on #61
Hm. This can be reproduced here: https://jsfiddle.net/y6w8b399/680/
This fiddle uses only a regular select field.

[2017-11-10 22:06] camiblanch commented on #61
Hmm. I see what you mean. If users want Kentucky, and they are choosing it by typing, the browser will signal a change event as soon as they choose Kansas. It would be difficult to change the plugin to work for your case and still work for the case of regular input fields. I think there are a couple of possible workarounds. First, you could set `autoVerify` to `false`; then users could select stat

[2017-11-10 22:24] sreed-dci commented on #61
Yeah, I turned off auto-verification. I figured I would submit it to you because it seems like maybe verification on keypress for select fields should be turned off, or only trigger on blur.

[2017-11-10 22:36] camiblanch commented on #57
Looking at this more closely it appears the problem is this. Usually the autocomplete popup is closed when the input is blank or after a change is triggered. Because neither of those happen, the autocomplete popup is never closed. [Here](https://github.com/smartystreets/jquery.liveaddress/blob/master/src/jquery.liveaddress.js#L2793) is where it is usually closed

[2017-11-10 22:36] camiblanch commented on #61
I like your suggestion of changing it to be onblur instead of keypress. I'll look into seeing if this would negatively effect the plugin by making this change

[2017-11-10 23:08] camiblanch commented on #61
Okay so first I had an idea to only fire the `AddressChanged` event in the plugin on select boxes if the jquery `change` event was fired followed by a `blur` or listen on `blur` and keep some kind of state to see if the field has actually changed. The problem occurs when users select the state by clicking on it from the list. They have made a choice, but they haven't moved to the next field so the

[2017-11-10 23:27] sreed-dci commented on #61
I'll be sure to look at this next week. Have a good weekend !

On Nov 10, 2017 6:08 PM, "Cami" <notifications@github.com> wrote:

[2017-11-12 04:37] dja opened #62 "Input Placeholders"
Is there any way to use this without displaying/overriding the placeholder text in inputs?

[2017-11-12 04:39] dja commented on #62
Nevermind - realized it was due to `debug: true`. I couldn't find the answer to this in the documentation though..

[2017-11-12 04:39] #62 closed

[2017-11-13 16:52] dMcCaffree commented on #62
That information can be found [on our docs for the website plugin, under "configure."](https://smartystreets.com/docs/plugins/website/configure), as seen in the attached screenshot of that page.

Thank you for closing this issue! We look forward to hearing more from you in the future.

<img width="1211" alt="screenshot 2017-11-13 09 49 28" src="https://user-images.githubusercontent.com/14884927/32

[2017-11-13 17:43] rafegoldberg commented on #53
@cbuchert getting back to this today. glanced briefly at your SCSS, which looks _far_ improved already. will let you know when I've had a chance to look in a bit more depth!

[2018-01-10 17:59] billheaton-q2 opened #63 "postal_code does not trigger change event"
For some reason the `doSet` method is called with `keepState` as `true` when the `postal_code` is set via the US API response.

**Expected behavior:**

At some point when the response has a valid address the keepState should be false so that `AddressChanged` is triggered. Also the dom input element should fire `change` when the `postal_code` is set.

**Actual behavior:**

In the `replaceWith` meth

[2018-01-19 20:14] bas-tyler opened #64 "Verify > Undo > Verify = You Didn't Enter Enough Information"
I've verified an address, and then selected to Undo the verification. Without manually making any changes I tried to verify again and was met with "YOU DIDN'T ENTER ENOUGH INFORMATION" error dialog.
With my implementation, this only happens when _country_ is left out from the LiveAddress definition.

[code]

Once I remove the commented attribute, the same steps above do not product the error.

Tra

[2018-01-19 21:40] camiblanch commented on #64
I was able to replicate this error. I will fix this as soon as possible. If you find a solution sooner than I am able to you are more than welcome to create a pull request.

[2018-01-25 13:51] ajayhada opened #65 "Issue in International address varification"
Plugin version 3.1 and Demo page https://smartystreets.com/products/single-address  apis mark address as valid/verified but plugin version 5.1.1 mark same address as invalid.

see screenshots.

the first screenshot is from the demo page and it simply shows address as verified(I am not sure about the version used on demo page but I tried same address with v3.1 and it worked.) but when i try to veri

[2018-01-25 17:25] camiblanch commented on #65
Good catch! In both of these cases they are getting the same data back from the API, specifically the `analysis` component. The only difference is how that data is interpreted.

In the Single Address Demo it sees `analysis.verification_status: "Verified"` and displays _Found **1** valid address_.

In the jQuery plugin it sees `analysis.address_precision: "Locality"` which is then interpreted as an

[2018-02-05 09:30] ajayhada commented on #65
I guess it should be consistent. so version 5.1.1 should show "Address was verified down to the locality" instead "You entered an unknown address".
1. if the address is unknown or not verified then it should open a popup with message "You entered an unknown address".
1. if the address is verified at any precision level then it should show  "Address was verified down to the XXXXX level." in popup.

[2018-02-21 18:42] camiblanch commented on #64
Just released the patch for this. Let me know if you're still having issues!

[2018-02-21 18:42] #64 closed

[2018-02-22 21:46] jwnacnud commented on #65
@ajayhada What would you like to see if the only thing that can be validated is the country?

[2018-02-24 10:54] alisoofeeaan opened #66 "Response Fail Issue"
**Cannot read property 'split' of undefined**

Some time response fails and stuck the code.

I have fix this with this example.

var ad = ac.responseText;
if (typeof(ad) === 'undefined')
{
	ad = 0;
}else
{
	ad = ac.responseText.split("\n")[0].indexOf("country");
}

[2018-02-26 19:30] camiblanch commented on #66
I'm not understanding what the problem is exactly. Could you reproduce this error using the unminified version of the plugin code `d79i1fxsrar4t.cloudfront.net/jquery.liveaddress/5.1/jquery.liveaddress.js`? Let me know what line number you are seeing the error.

[2018-03-05 12:13] alisoofeeaan commented on #66
line no 2375.
unknown reason response goes to fail some time "xhr.responseText" is undefined therefor break my script.

[2018-03-05 17:04] camiblanch commented on #66
Should be working for you now. Thanks for finding that bug.

[2018-03-05 17:04] #66 closed

[2018-03-15 22:44] eveshumwork opened #67 "Having a pre filled form + autoVerify: true config setting results in the wrong address being verified"
Hi!

jfiddle: https://jsfiddle.net/y6w8b399/813/

If you have a pre filled form, and you edit the address via autocomplete functionality, then the wrong address will be sent for verification, which results in an error message saying a valid address is invalid.

**How to reproduce**

1. have a form with pre filled inputs. Do not hit the verify button.
<img width="218" alt="screen shot 2018-03-15 at

[2018-03-16 19:18] camiblanch commented on #67
Currently the plugin assumes an empty form when initialized. You need to notify it of changes to the form. In the case of pre-filling a form I recommend using the jQuery `.change()` function since the plugin is set up to listen on that event. [Here's an example](https://jsfiddle.net/smartystreets/qzL3cvbu/) of how this works. Please contact our support team if you have additional questions.

[2018-03-16 19:18] #67 closed

[2018-03-16 19:22] eveshumwork commented on #67
@camiblanch thanks for the quick response! Would it be possible to update the documentation to include this assumption that the plugin makes? I wasn't aware of this assumption!

Cheers,
Eve

[2018-03-16 19:32] camiblanch commented on #67
Yes that's a great idea! I'll add that to my tasks and I'll let you know here when it's added to the documentation. I think we'll add it to the [troubleshooting section](https://smartystreets.com/docs/plugins/website/troubleshooting)

[2018-03-23 22:05] sebito91 opened #68 "Malformed Canadian address validation"
I'm noticing with the jquery 5.1 plugin that the validated postal code is getting appending to Line1 of the address. If we try on the site with the test plugin you can see this in action:

https://smartystreets.com/docs/plugins/website/examples

200 Lonsdale Rd
Toronto, On M2H1G6
Canada

<img width="790" alt="canada" src="https://user-images.githubusercontent.com/3159454/37855230-af86b55a-2ec4-11e

[2018-03-23 22:30] #68 closed

[2018-03-23 22:33] camiblanch commented on #68
This should be fixed now. Look for version 5.1.7 of the plugin. You shouldn't need to update your script reference at all. Sorry about that! I accidentally introduced this bug in a commit I did earlier today. Everything should be good to go now

[2018-04-14 20:47] camiblanch commented on #67
@eveshumwork We've added this to the troubleshooting page [here](https://smartystreets.com/docs/plugins/website/troubleshooting#pre-filled). Thanks again for the suggestion!

[2018-05-02 16:41] HammerData opened #69 "Secondary address formatting"
Is there a way to prevent the plugin from adding a space after the # on addresses with a unit number?

Example:
**123 Some St #456** becomes **123 Some St # 456**

[2018-05-03 19:46] camiblanch commented on #69
The space between `#` and the unit number comes directly from the US Street API. You can see an example of that [here](https://smartystreets.com/products/apis/us-street-api?auth-id=21102174564513388&candidates=10&street=3214%20N%20University%20Ave%20%23409&city=provo&state=ut&method=GET).

If you wanted to you could try manipulating the data when it comes back from the API and construct the second

[2018-05-04 14:32] HammerData commented on #69
Yep. I'll try to catch it on the way into the database. Thanks!

[2018-05-04 14:32] #69 closed

[2018-06-05 18:29] patackett opened #70 "popup position"
I have a page that gathers information using tabs, with address data being on one tab and other information being gathered on other tabs.  The plugin works fine when the address tab is active, but if a user submits the form on another tab, the popup for not enough input is displayed.  However, it is displayed off the page and the user must scroll to see it.  How can I control the position of the p

[2018-06-05 20:35] camiblanch commented on #70
The plugin needs to be notified that the address form is no longer being displayed. You will want to utilize the [activate](https://smartystreets.com/docs/plugins/website/functions#activate) and [deactivate](https://smartystreets.com/docs/plugins/website/functions) functions.

When the address form is visible, call `.activate()` and pass the `addressID` that correlates with your address in that fo

[2018-06-05 21:10] patackett commented on #70
Yes, that worked great.  Now, I see another issue.  I am using autocomplete and when I start typing an address, I go until the address I am looking for appears in the list and then I select it.  The plugin then fills out the appropriate address, city, state, and zip fields.  This is what I store in my database.  When I load a page to allow a user to change their address, the plugin will not verify

[2018-06-05 21:24] camiblanch commented on #70
Excellent question! Unfortunately the plugin can only handle pre filled address forms in a very specific way. We have a [FAQ](https://smartystreets.com/docs/plugins/website/troubleshooting#pre-filled) that addresses this. It's due to how the plugin is designed to work in most use cases, but doesn't work perfectly in every use case.

[2018-06-06 15:59] patackett commented on #70
Thanks for your help. I looked at the FAQ and made the code changes and it worked.  Thanks again!

[2018-06-06 15:59] #70 closed

[2018-06-29 17:05] MouaYing commented on #51
This has been fixed, and will be in effect in the next release of our US Autocomplete API.

[2018-06-29 17:05] #51 closed

[2018-07-29 14:42] ktwalrus opened #71 "Config Suggestions URL"
This plugin makes AJAX requests to 3 possible endpoints, by default:

1. https://us-street.api.smartystreets.com/street-address
2. https://international-street.api.smartystreets.com/verify
3. https://us-autocomplete.api.smartystreets.com/suggest

Endpoints #1 and #2 can be overridden using the **requestUrlUS** and **requestUrlInternational** configuration settings.

Please add a configuration sett

[2018-07-29 21:33] ktwalrus opened #72 "Change waitForStreet lang"
I want to change the waitForStreet message to something more appropriate for my site.

Currently, it shows:
![filtered-suggestions](https://user-images.githubusercontent.com/1620132/43370797-aa0dde3e-9353-11e8-8ea3-1747c32b6d92.png)

If you don't want to implement a new config setting, at least, change the message back to "_Type more for address suggestions_".

The user doesn't know that I have ap

[2018-10-01 20:07] camiblanch commented on #57
This bug should be fixed now as of 5.1.19

[2018-10-01 20:07] #57 closed

[2018-10-11 13:12] tundebabzy opened #76 "Allow 'Customisability' Of Country Name In Forms"
We are presently having issues when using liveaddress in our ERP. When an `Address` isDomestic`, liveaddress automatically 'USA' into the input field for country in the given form. The problem is, we internally use 'United States'. The result is that the field starts out as 'United States', changes to 'USA'. We can't accept 'USA' so we have to change it back to 'United States'.

Since 'United Stat

[2018-10-11 22:51] camiblanch commented on #76
I can see how this would be beneficial to you if your application requires the full-text country name.  Since it is not something that is oft-requested (in the last 6 years) we aren't planning to build it into our supported version of this tool.  You could certainly fork it and add the functionality that you are looking for.

[2018-10-11 22:51] #76 closed

[2018-10-13 02:39] matthewhively opened #77 "autocomplete attribute overwritten"
Hi,
We're trying to use smartystreets to verify addresses on an account administration page.
We also have account user_name and password fields on this page.
As per spec we want to have `autocomplete="new-password"`  set on the password field so that it isn't automatically filled in by the browser. But smartystreets overwrites that attribute, thus breaking that functionality.
Could smartystreets b

[2018-10-15 16:14] camiblanch commented on #77
This is related to https://github.com/smartystreets/jquery.liveaddress/pull/73

[2018-10-15 22:29] camiblanch commented on #72
@ktwalrus The solution I could see us implementing to solve this problem would be a configuration option to set the message like many other messages we have in the plugin. Would that solve the issue for you?

[2018-10-16 01:15] ktwalrus commented on #72
Yes. Config setting would solve my issue.

[2018-11-02 17:31] camiblanch commented on #77
This fix has been published in version 5.1.24

[2018-11-02 17:31] #77 closed

[2018-11-05 23:14] jayonsoftware opened #78 "jQuery.Deferred exception"
Our implementation of SmartyStreet stoped working today and we are getting this error. Any thoughts on what is gong on ?

`jQuery.Deferred exception: '#AddressDemo:j_id3:j_id4:editContactSection:street1' is not a valid selector disableBrowserAutofill@https://d79i1fxsrar4t.cloudfront.net/jquery.liveaddress/5.1/jquery.liveaddress.js:1237:17
UI/this.mapFields@https://d79i1fxsrar4t.cloudfront.net/jque

[2018-11-05 23:18] camiblanch commented on #78
I see. This was due to one of our recent changes. It uses the browser query selector in one line instead of just using the jQuery selector method. I will push a fix out for this real quick. Thanks for catching this and sorry it caused you some trouble.

[2018-11-05 23:36] jayonsoftware commented on #78
Getting the following error

`Uncaught Error: Syntax error, unrecognized expression: unsupported pseudo: j_id3
    at Function.Sizzle.error (jquery.js:1541)
    at PSEUDO (jquery.js:1888)
    at matcherFromTokens (jquery.js:2437)
    at Sizzle.compile (jquery.js:2591)
    at Sizzle.select (jquery.js:2677)
    at Function.Sizzle [as find] (jquery.js:845)
    at jQuery.fn.init.find (jquery.js:2873)

[2018-11-05 23:55] jayonsoftware commented on #78
The following also fails

`           addresses: [{

                    address1: jQuery("[id*='addressStreetOne']"),

                    locality: jQuery("[id*='addressCityOne']"),

                    administrative_area: jQuery("[id*='addressStateOne']"),

                    postal_code: jQuery("[id*='addressZipOne']")

                }]`

[2018-11-05 23:59] camiblanch commented on #78
Alright, let's try again. Just published a better fix in 5.1.26

Are you still getting errors?

[2018-11-06 00:01] jayonsoftware commented on #78
Its working ....Thanks for the quick turnaround

[2018-11-06 16:49] #78 closed

[2018-11-07 16:54] jayonsoftware opened #79 "Strange Error, every address input is coming as false."
This works

https://us-street.api.smartystreets.com/street-address?auth-id=14399859584338631&agent=smartystreets%20(plugin%3Awebsite%405.1.26)&street=4142%20Cherrywood%20Dr&city=Troy&state=MI&match=&candidates=3

This does not

https://us-street.api.smartystreets.com/street-address?auth-id=14399859584338631&agent=smartystreets%20(plugin%3Awebsite%405.1.26)&street=4142%20Cherrywood%20Dr&city=Troy&s

[2018-11-07 23:54] cbuchert commented on #79
Alright, @jayonsoftware. The issue was a back-end issue on the API. I've been assured it's been resolved. Keep us posted if you continue to have trouble.

[2018-11-07 23:54] #79 closed

[2018-11-09 16:37] thavelick opened #81 "Code that adds "Pick a state" checks drop down options incorrectly"
LiveAddress contains some code that adds a "Pick a state" to state dropdowns that do not already have a default choice.  This is done in the function `addDefaultToStateDropdown()`.  However, the expression used there, `dom.getElementsByTagName("option")[0].text.toUpperCase()` always grabs the *first* dropdown on the page whether or not that dropdown is the state dropdown specific for that page.

T

[2018-11-09 23:37] cbuchert commented on #81
Great suggestion, @thavelick. Will you put together a pull request and I'll review it? We'd love to give you contributor credit.

[2018-11-12 17:44] summersab opened #82 "AddressChanged can be called when validation is in progress"
This may be something to take care of once @camiblanch is back from maternity leave, but I ran into some excitement when integrating with FoxyCart. Due to the way FoxyCart's templating system works, certain blocks of the DOM are completely re-rendered on a regular basis as different events fire. This made getting SmartyStreets to behave particularly difficult, and I was able to uncover a potential

[2018-11-13 17:13] cbuchert commented on #82
@summersab, I think you're right re: concern about introducing breaking changes. I think in this case that discretion is the better part of valor. :| Will you put together a pull request with the changes? We'll review it and make a more final call.

[2018-11-13 23:34] cbuchert commented on #71
Hey, @ktwalrus. Not sure how this fell through the cracks. I have a branch that I'll be making a pull request with that will add a config option for setting the URL for the Autocomplete API. I'll keep you posted as we determine how to address this. Please keep me posted if this is still relevant.

[2018-11-14 01:18] cbuchert commented on #53
@rafegoldberg Wow, it's been a year.

We've been waffling on this for a year, unwilling to commit to requiring a second file for users looking for drop-in functionality. Last week I took the leap and broke the plugin apart into declaration and invocation which has opened up a world of possibilities for improvements like this. I have a branch that we'll be reviewing for commit that will make this o

[2018-11-14 01:33] cbuchert commented on #72
@ktwalrus I have a branch (you can try it out [here](https://github.com/smartystreets/jquery.liveaddress/tree/chris/more-input-required-message)) that implements this. We'll review it and keep you posted. Thanks for the suggestion!

[2018-11-14 16:28] cbuchert commented on #61
@AdJesumPerMariam We haven't heard from you in a while. Should I keep this issue open?

[2018-11-14 16:31] AdJesumPerMariam commented on #61
@cbuchert I haven't had time to look into this and unfortunately, I won't. I think it is an issue though so I suggest that it is looked into by your team. Thanks!

[2018-11-15 04:41] summersab commented on #82
Oy - I can't claim to be a developer, really. While I have a degree in CS and CAN code, I'm more of the sys admin type, and I've never cloned a repo or made a pull request. I can certainly try, though, but it might be after Black Friday . . .

[2018-11-15 16:54] cbuchert commented on #82
Okay. I'll look into this some more and put together a pull request for it. I'll keep you posted.

[2018-12-18 18:05] cbuchert commented on #53
This plugin has been deprecated, so there will be no continued development on the project. If you're looking for a more flexible JavaScript solution for integration with SmartyStreets APIs, check out the [SmartyStreets JavaScript SDK](https://github.com/smartystreets/smartystreets-javascript-sdk).

[2018-12-18 18:05] #53 closed

[2018-12-18 18:05] cbuchert commented on #61
This plugin has been deprecated, so there will be no continued development on the project. If you're looking for a more flexible JavaScript solution for integration with SmartyStreets APIs, check out the [SmartyStreets JavaScript SDK](https://github.com/smartystreets/smartystreets-javascript-sdk).

[2018-12-18 18:05] #61 closed

[2018-12-18 18:05] cbuchert commented on #63
This plugin has been deprecated, so there will be no continued development on the project. If you're looking for a more flexible JavaScript solution for integration with SmartyStreets APIs, check out the [SmartyStreets JavaScript SDK](https://github.com/smartystreets/smartystreets-javascript-sdk).

[2018-12-18 18:05] #63 closed

[2018-12-18 18:05] cbuchert commented on #65
This plugin has been deprecated, so there will be no continued development on the project. If you're looking for a more flexible JavaScript solution for integration with SmartyStreets APIs, check out the [SmartyStreets JavaScript SDK](https://github.com/smartystreets/smartystreets-javascript-sdk).

[2018-12-18 18:05] #65 closed

[2018-12-18 18:05] cbuchert commented on #71
This plugin has been deprecated, so there will be no continued development on the project. If you're looking for a more flexible JavaScript solution for integration with SmartyStreets APIs, check out the [SmartyStreets JavaScript SDK](https://github.com/smartystreets/smartystreets-javascript-sdk).

[2018-12-18 18:05] #71 closed

[2018-12-18 18:06] cbuchert commented on #72
This plugin has been deprecated, so there will be no continued development on the project. If you're looking for a more flexible JavaScript solution for integration with SmartyStreets APIs, check out the [SmartyStreets JavaScript SDK](https://github.com/smartystreets/smartystreets-javascript-sdk).

[2018-12-18 18:06] #72 closed

[2018-12-18 18:06] cbuchert commented on #81
This plugin has been deprecated, so there will be no continued development on the project. If you're looking for a more flexible JavaScript solution for integration with SmartyStreets APIs, check out the [SmartyStreets JavaScript SDK](https://github.com/smartystreets/smartystreets-javascript-sdk).

[2018-12-18 18:06] #81 closed

[2018-12-18 18:06] cbuchert commented on #82
This plugin has been deprecated, so there will be no continued development on the project. If you're looking for a more flexible JavaScript solution for integration with SmartyStreets APIs, check out the [SmartyStreets JavaScript SDK](https://github.com/smartystreets/smartystreets-javascript-sdk).

[2018-12-18 18:06] #82 closed